{% extends 'base.html.twig' %}


{% block stylesheets %} {# Importation de la feuille de style, et de bootstrap #}
            {{ encore_entry_link_tags('app') }}
            
        {% endblock %}
             

{% block title 'Formulaire de connexion : GSB' %}

{% block body %}


	<div class="container">
		<div class="contact-box">
			<div class="left"></div>
			<div class="right">
				<h2>Se connecter</h2>
				<input type="text" class="field" placeholder="Identifiant">
				<input type="text" class="field" placeholder="Mot de passe">
				<button class="btn">Envoyer</button>
			</div>
		</div>
	</div>


{% endblock %}

