@import '~font-awesome';

.title {
    font-weight: bold;
}

.titre_bandeau {
    font-weight: bold;
    text-transform: uppercase;
}

.liste2 {
    margin-bottom: 0.25em;
}

.id_user {
    font-weight: bold;
}

.bloc_card {
    margin: 7.5em;
    display: flex;
    text-align: center;
}

.color {
    color: black;
    text-decoration: none;
}

.color:hover {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.center {

    display: flex;
    justify-content: center;

}

.Center {
    box-sizing: border-box;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
}