.container-fluid {
    position: fixed;
    margin-top: 70px;
    z-index: 100000;
}

.sidebar {
    margin-top: 70px;
}

.navbar {
    z-index: 1000;
}

.col {
    position: fixed;
    z-index: 1000;
}

.bootstrap5 {
    margin-top: 10em;
    max-width: 1024px;
}